.container {
  width: 1000px;
  margin: 5px auto;
}
  label {
  display: block;
  margin: 8px auto;
}
h1 {
  text-align: center;
}
h1 small {
  margin-right: 30px;
}
li {
  padding-left: 10px;
}
article {
  position: relative;
}
.red {
  border-color: red;
}
.orange {
  border-color: orange;
}
.yellow {
  border-color: yellow;
}
.greenyellow {
  border-color: greenyellow;
}
.green {
  border-color: green;
}
span.label-danger {
  font-size: 15px;
  cursor: pointer;
  position:absolute;
  top: 10px;
  right: 20px;
}
#carInputSection {
  float: left;
  width: 300px;
  border-style: solid;
  border-radius: 5px;
  border-color: darkgray;
  padding: 10px;
}
#carInputForm {
  width: 200px;
  margin: 10px auto;
}
#carListSection {
  float: right;
  width: 300px;
  padding: 10px;
}

#carListSection article {
  width: 300px;
  border-style: solid;
  border-radius: 5px;
  margin: 5px auto;
}
#carListSection li, h3{
  margin: 5px 0 5px 25px;
}
